/* ========= Tailwind CSS ========= */
@import 'tailwindcss';

/* ========= Source Paths for Tailwind JIT ========= */
@source "../js/**/*.{js,ts,jsx,tsx}";
@source "../views/**/*.blade.php";

/* ========= Preline UI ========= */
@import 'preline/variants.css';

/* ========= Themes Config ========= */
@import './themes.css';

/* ========= Tailwind Plugin ========= */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

/* ========= Cutsome CSS ========= */

@import './structure/_general.css';
@import './structure/_sidenav.css';
@import './structure/_topbar.css';

/* Custome Components */
@import './custom/_reboot.css';
@import './custom/_helper.css';
@import './custom/_buttons.css';
@import './custom/_card.css';
@import './custom/_dropdown.css';
@import './custom/_forms.css';
@import './custom/_print.css';
@import './custom/_chart.css';

/* Simplebar */
@import './custom/_simplebar.css';

/* Calendar */
@import './custom/_calendar.css';
